@model SistemaBarbearia.ViewModels.Vendas.VendaVM
@using SistemaBarbearia.Helper;

@{
    var action = Convert.ToString(ViewBag.Action);
    bool readOnly = Convert.ToBoolean(ViewBag.ReadOnly);
    ViewBag.action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString().ToLower();
    ViewBag.readOnly = true;

}
<div class="container-fluid">

    @using (Html.BeginForm())
    {
        <div class="container">
            <ul class="breadcrumb breadcrumb-arrow">
                <li><a href="@Url.Action("Index")"><i class="fa fa-home"></i></a></li>
                <li class="active">Detalhes do Venda</li>
            </ul>
            <div class="form-horizontal">
                <h6 class="text-right">Campos obrigatório *</h6>
                <fieldset disabled>
                    @Html.Partial("Form", Model)
                </fieldset>
            </div>
            <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                <a href="@Url.Action("Index")" class="btn btn-secondary" role="button" aria-pressed="true"> <i class="fa fa-arrow-left"></i> Voltar</a>
            </div>
        </div>
    }
</div>
@section Scripts {
    @Scripts.Render("~/Scripts/Views/Vendas/Details.js")

}
