@model SistemaBarbearia.ViewModels.Fornecedores.FornecedorVM
@using SistemaBarbearia.Helper;
@{
    ViewBag.Title = "Remover registro";
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString().ToLower();
    ViewBag.readOnly = true;
}
<div class="container-fluid">

    @using (Html.BeginForm())
    {
        <div class="container">
            <ul class="breadcrumb breadcrumb-arrow">
                <li><a href="@Url.Action("Index")"><i class="fa fa-home"></i></a></li>
                <li class="active">Excluir Fornecedor</li>
            </ul>
            <div class="form-horizontal">
                @Html.Partial("Form", Model)
            </div>
        </div>
        <div class="col-md-12">
            <div class="form-group">
                <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                    <input type="submit" value="Excluir" class="btn btn-primary" />
                    @Html.ActionLink("Voltar", "Index", routeValues: null, htmlAttributes: new { @class = "btn btn-danger me-md-2", @role = "button" })
                </div>
            </div>
        </div>
    }
</div>
