@model SistemaBarbearia.ViewModels.Paises.PaisVM
@using SistemaBarbearia.Helper;

@{
    ViewBag.Title = "Detalhes do Pais";
    Layout = "~/Views/Shared/_Layout.cshtml";  
    ViewBag.action = ViewContext.Controller.ValueProvider.GetValue("action").RawValue.ToString().ToLower();
    ViewBag.readOnly = true;


}
<div class="container-fluid">
    @using (Html.BeginForm())
    {
    <div class="container">
        <ul class="breadcrumb breadcrumb-arrow">
            <li><a href="@Url.Action("Index")"><i class="fa fa-home"></i></a></li>
            <li class="active">Detalhes do Pais</li>
        </ul>
        <div class="form-horizontal">
            <h6 class="text-right">Campos obrigatório *</h6>
            @Html.Partial("Form", Model)
        </div>

        <div class="d-grid gap-2 d-md-flex justify-content-md-end">           
           <a href="@Url.Action("Index")" class="btn btn-secondary" role="button" aria-pressed="true"> <i class="fa fa-arrow-left"></i> Voltar</a>
        </div>
       
    </div>
    }
</div>