body {
    padding-top: 0px;
    padding-bottom: 20px;
}

/* Defina o preenchimento para evitar que o conteúdo atinja as bordas */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Substituir o comportamento de bootstrap padrão onde listas de descrição horizontal
   irá truncar termos que são muito longos para caber na coluna da esquerda 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Defina a largura dos elementos de entrada do formulário, pois eles são 100% largos por padrão */
input,
select,
textarea {
    max-width: 280px;
}

